html{
    font-size: 16pt;
    background-color: rgba(127,127,127,0.233);
    margin: auto;
    width: 1024px;
}
body{
    margin: auto 20px;
}
a.buttons {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    display: inline;
    width: 200px;
    padding: 3px 10px;
    background: #66ffcc;
}
a.buttons:hover,
a.buttons:active,
a.buttons:focus {
    background: #dcdcdc;
    font-weight: bold;
}
